{{extend 'layout.html'}}

<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{=auth.user.first_name}} {{=auth.user.last_name}}'s Gradebook</h1>
        </div>
    </div>

    {{for row in class_data:}}
    <div class="row">
        <div class="col-sm-8">
            <blockquote class="blockquote blockquote-{{=get_contextual_classes(float(row[3]))}}">
                {{=row[0]}} <small>({{=row[2]}})</small> — Class average: {{=row[3]}}%

                <button id="class_details" type="button"
                        class="btn btn-primary btn-xs pull-right"
                        onclick="window.location.href='{{=URL('classes', 'overview', args = [row[1]])}}'">
                    Class Details
                </button>
            </blockquote>
        </div>

    </div>
    {{pass}}

    <!-- charts - they have their own row and cols -->
    {{=LOAD('charts', 'standards_performance_for_teacher.load')}}

</div>

{{block page_js}}
<script src="{{=URL('static', 'js/sgt.js')}}"></script>
{{end}}
