{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Classes Overview</h1>
            <table class="table">
                    <tr>
                        <td><h4>Classes:</h4></td>
                        {{for row in class_names:}}
                            <td><b>{{=row.name}}</b></td>
                        {{pass}}
                    </tr>
                    <tr>
                        <td><h4>Class Average:</h4></td>
                        {{for row in class_averages:}}
                            <td><b>{{=row}}%</b></td>
                        {{pass}}
                    </tr>
                    <tr>
                        <td><h1>Standards</h1></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><h4>Math Standard 1:</h4></td>
                        <td>85%</td>
                        <td>93%</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td><h4>Math Standard 2:</h4></td>
                        <td>81%</td>
                        <td>94%</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td><h4>LA Standard 1:</h4></td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>87%</td>
                    </tr>
            </table>
        </div>
    </div>
</div>
