{{extend 'layout.html'}}

<h1>Assign Parent to Student</h1>

<div class="container-fluid well">
    {{=form.custom.begin}}

    <div class="row form-group">
        <div class="col-sm-6">
            <label for="no_table_Parent">Parent</label>
            {{=form.custom.widget.Parent}}
        </div>
        
        <div class="col-sm-6">
            <label for="no_table_Student">Student</label>
            {{=form.custom.widget.Student}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{=form.custom.submit}}
        </div>
    </div>

    {{=form.custom.end}}
</div>

{{block page_js}}
<script src="{{=URL('static', 'js/sgt.js')}}"></script>
{{end}}
