{{extend 'layout.html'}}
<body style="background-color:lightgrey;">
<h1 style="text-align:center">Assign Teacher to Class</h1>
{{=form.custom.begin}}

<div class="row">
    <div class="col-sm-12">
        <div class="container well" style ='background-color: #373735;'>

            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Teacher</h4>
                    {{=form.custom.widget.Teacher}}
                </div>
                
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Class</h4>
                    {{=form.custom.widget.Class}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <h4>&nbsp;</h4>
                    {{=form.custom.submit}}
                </div>
            </div>
        <div class="row">
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{{=form.custom.end}}
</body>
