{{extend 'layout.html'}}
<h1>Add Class</h1>
{{=form.custom.begin}}

<div class="row">
    <div class="col-sm-10">
        <div class="container-fluid well" style ='background-color: #80ccff;'>

            <div class="row">
                <div class="col-sm-6">
                    <h4>Name</h4>
                    {{=form.custom.widget.name}}
                </div>
                
                <div class="col-sm-6">
                    <h4>Grade Level</h4>
                    {{=form.custom.widget.grade_level}}
                </div>
            </div>
            
            <div class="row">

                <div class="col-sm-6">
                    <h4>Start Date</h4>
                    {{=form.custom.widget.start_date}}
                </div>
                <div class="col-sm-6">
                    <h4>End Date</h4>
                    {{=form.custom.widget.end_date}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Content Area</h4>
                    {{=form.custom.widget.content_area}}
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    <h4>&nbsp;</h4>
                    {{=form.custom.submit}}
                </div>
            </div>            
        <div class="row">
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{{=form.custom.end}}
