{{extend 'layout.html'}}
<body style="background-color:lightgrey;">
<h1 style="text-align:center">Add Class</h1>
{{=form.custom.begin}}

<div class="row">
    <div class="col-sm-12">
        <div class="container well" style ='background-color: #373735;'>

            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Name</h4>
                    {{=form.custom.widget.name}}
                </div>
                
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Grade Level</h4>
                    {{=form.custom.widget.grade_level}}
                </div>
            </div>
            
            <div class="row">

                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Start Date</h4>
                    {{=form.custom.widget.start_date}}
                </div>
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>End Date</h4>
                    {{=form.custom.widget.end_date}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Content Area</h4>
                    {{=form.custom.widget.content_area}}
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2">
                    <h4>&nbsp;</h4>
                    {{=form.custom.submit}}
                </div>
            </div>            
        <div class="row">
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{{=form.custom.end}}
</body>
