{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Grade {{=grade_level}}</h1>
            <h1>{{=content_name[0].name}}</h1>
            <table class="table">
                {{for key in detail_data.keys():}}
                    <tr class="{{=get_contextual_classes(detail_data[key][2])}}">
                        <td>{{=detail_data[key][0]}} &nbsp&nbsp&nbsp&nbsp&nbsp  {{=detail_data[key][1]}}</td>
                        <td>{{=detail_data[key][2]}} %</td>
                    </tr>

                {{pass}}
            </table>

            <div class="col-sm-12">
                    {{=LOAD('charts', 'admin_standard_overview_detail_bar.load', args=[grade_level,content_id])}}
            </div>


        </div>
    </div>
</div>

<style>
    .btn{border:none;font-size:18px;line-height:22px;font-weight:500;text-transform:uppercase}
    .btn-xs,.btn-group-xs>.btn{padding:1px 5px;font-size:18px;border-radius:3px}

    .btn-success {  color: #fff;  background-color: #94d194;  border-color: #4cae4c;}
    .btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open > .dropdown-toggle.btn-success {  color: #fff;  background-color: #449d44;  border-color: #398439;}

    .btn-warning { color: #fff; background-color: #f3bd72; border-color: #eea236;}
    .btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open > .dropdown-toggle.btn-warning { color: #fff; background-color: #ec971f; border-color: #d58512;}

    .btn-danger { color: #fff; background-color: #e48481; border-color: #d43f3a;}
    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger { color: #fff; background-color: #c9302c; border-color: #ac2925;}
</style>
