{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Admin Tools</h1>
            <table class="table table-striped table-condensed">
                <tr><td><h2>{{=A('Add Teacher', _href=URL('admin', 'teacher_create'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Add Student', _href=URL('admin', 'student_create'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Add Class', _href=URL('admin', 'classes_create'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Add Parent', _href=URL('admin', 'parent_create'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Assign Teacher to Class', _href=URL('admin', 'assign_teacher_to_class'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Assign Student to Class', _href=URL('admin', 'assign_student_to_class'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Assign Parent to Student', _href=URL('admin', 'assign_parent_to_student'))}}</h2></td></tr>
            </table>
            <h1>Admin Views</h1>
            <table class="table table-striped table-condensed">
                <tr><td><h2>{{=A('Standards Overview', _href=URL('admin', 'standard_overview'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Class List', _href=URL('admin', 'class_list'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Teacher List', _href=URL('admin', 'teacher_list'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Student List', _href=URL('admin', 'student_list'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Parent List', _href=URL('admin', 'parent_list'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Teacher - Class Relation', _href=URL('admin', 'teacher_class'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Student - Class Relation', _href=URL('admin', 'student_class'))}}</h2></td></tr>
                <tr><td><h2>{{=A('Parent - Student Relation', _href=URL('admin', 'parent_student'))}}</h2></td></tr>
            </table>
        </div>
    </div>
</div>

<style>
.table td {text-align: center;}
</style>
