{{extend 'layout.html'}}

<h1>Create Parent</h1>
{{=form.custom.begin}}

<div class="row">
    <div class="col-sm-12">
        <div class="container well">

            <div class="row">
                <div class="col-sm-6">
                    <h4>First Name</h4>
                    {{=form.custom.widget.first_name}}
                </div>
                
                <div class="col-sm-6">
                    <h4>Last Name</h4>
                    {{=form.custom.widget.last_name}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <h4>Email</h4>
                    {{=form.custom.widget.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Username</h4>
                    {{=form.custom.widget.username}}
                </div>
                <div class="col-sm-6">
                    <h4>Password</h4>
                    {{=form.custom.widget.password}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Account Type (do not change)</h4>
                    {{=form.custom.widget.Account_Type}}
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2">
                    <h4>&nbsp;</h4>
                    {{=form.custom.submit}}
                </div>
            </div>
        <div class="row">
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{{=form.custom.end}}
