{{extend 'layout.html'}}
<h1>Create Student</h1>
{{=form.custom.begin}}

<div class="row">
    <div class="col-sm-10">
        <div class="container-fluid well" style ='background-color: #80ccff;'>

            <div class="row">
                <div class="col-sm-6">
                    <h4>First Name</h4>
                    {{=form.custom.widget.first_name}}
                </div>
                
                <div class="col-sm-6">
                    <h4>Last Name</h4>
                    {{=form.custom.widget.last_name}}
                </div>
            </div>
            
            <div class="row">

                <div class="col-sm-12">
                    <h4>Email</h4>
                    {{=form.custom.widget.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Username</h4>
                    {{=form.custom.widget.username}}
                </div>


                <div class="col-sm-6">
                    <h4>Password</h4>
                    {{=form.custom.widget.password}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>School ID Number</h4>
                    {{=form.custom.widget.School_ID_Number}}
                </div>


                <div class="col-sm-6">
                    <h4>Grade Level</h4>
                    {{=form.custom.widget.Grade_Level}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Home Address</h4>
                    {{=form.custom.widget.Home_Address}}
                </div>


                <div class="col-sm-6">
                    <h4>Parent Email</h4>
                    {{=form.custom.widget.Parent_Email}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Account Type (do not change)</h4>
                    {{=form.custom.widget.Account_Type}}
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                    <h4>&nbsp;</h4>
                    {{=form.custom.submit}}
                </div>
            </div>
        <div class="row">
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{{=form.custom.end}}
