{{extend 'layout.html'}}

<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-12"><h1>Add a student</h1></div>
            </div>

            {{=form.custom.begin}}

            <div class="form-group">

                <label for="no_table_first_name">First Name</label>
                {{=form.custom.widget.first_name}}

                <label for="no_table_last_name">Last Name</label>
                {{=form.custom.widget.last_name}}

                <label for="no_table_email">Email</label>
                {{=form.custom.widget.email}}

                <label for="no_table_username">Username</label>
                {{=form.custom.widget.username}}

                <label for="no_table_password">Password</label>
                {{=form.custom.widget.password}}

                <label for="no_table_school_id_number">School ID Number</label>
                {{=form.custom.widget.school_id_number}}

                <label for="no_table_grade_level">Grade Level</label>
                {{=form.custom.widget.grade_level}}

                <label for="no_table_home_address">Home Address</label>
                {{=form.custom.widget.home_address}}

                <label for="no_table_paren_email">Parent Email</label>
                {{=form.custom.widget.parent_email}}

            </div>

            <div class="row">
                <div class="col-sm-12">{{=form.custom.submit}}</div>
            </div>

            {{=form.custom.end}}

        </div>

        <div class="col-sm-6">

            <div class="row">
                <div class="col-sm-12"><h1>Import students from file</h1></div>
            </div>

        </div>
    </div>
</div>

