{{extend 'layout.html'}}
<body style="background-color:lightgrey;">
<h1 style="text-align:center">Create Student</h1>
{{=form.custom.begin}}

<div class="row">
    <div class="col-sm-12">
        <div class="container well" style ='background-color: #373735;'>

            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>First Name</h4>
                    {{=form.custom.widget.first_name}}
                </div>
                
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Last Name</h4>
                    {{=form.custom.widget.last_name}}
                </div>
            </div>
            
            <div class="row">

                <div class="col-sm-12">
                    <h4 style='color: #ffffff;'>Email</h4>
                    {{=form.custom.widget.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Username</h4>
                    {{=form.custom.widget.username}}
                </div>


                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Password</h4>
                    {{=form.custom.widget.password}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>School ID Number</h4>
                    {{=form.custom.widget.School_ID_Number}}
                </div>


                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Grade Level</h4>
                    {{=form.custom.widget.Grade_Level}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Home Address</h4>
                    {{=form.custom.widget.Home_Address}}
                </div>


                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Parent Email</h4>
                    {{=form.custom.widget.Parent_Email}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 style='color: #ffffff;'>Account Type (do not change)</h4>
                    {{=form.custom.widget.Account_Type}}
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-2">
                    <h4>&nbsp;</h4>
                    {{=form.custom.submit}}
                </div>
            </div>
        <div class="row">
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
{{=form.custom.end}}
</body>
