{{extend 'layout.html'}}

<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-12"><h1>Student - Class Relation</h1></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id='student_class_table' class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>School ID</th>
                        <th>In Class(es)</th>
                    </tr>
                </thead>
                <tbody>
                    {{for key in view_data.keys():}}
                    <tr>
                        <td>{{=view_data[key][0] + " " + view_data[key][1] }}</td>
                        <td>{{=view_data[key][2]}}</td>
                        <td>
                            {{for i in view_data[key][4]:}}
                            {{=i}}</br>
                            {{pass}}
                        </td>
                    </tr>
                    {{pass}}
                </tbody>
            </table>
        </div>
    </div>
</div>
