# The files under these directories are volatile and should not be tracked.
bower_components/
cache/
databases/
docs/_build/
errors/
private/demo_data/
private/test_dummy_files/
sessions/
static/docs/
static/fonts/
uploads/


# Do not track local logs.
progress.log


# Ignore unneeded python files
**/*.pyc
.pythonhistory


# Ignore temp files.
**/#*
**/*bak*
