{{extend 'layout.html'}}

<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{=name}}</h1>

            <table class="table">
                {{for key in overview_data.keys():}}

                    <tr class="{{=get_contextual_classes(float(overview_data[key][1]))}}">
                        <td>
                        <button class="btn btn-xs btn-{{=get_contextual_classes(float(overview_data[key][1]))}}" data-toggle="collapse"  data-target=".{{=str(key)}}collapsed">
                            <i class="glyphicon glyphicon-small glyphicon-folder-close" id ="{{=str(key)}}collapsed" ></i></button>&nbsp&nbsp
                        <span class="h3">{{=A(overview_data[key][0], _href=URL('students', 'index', args=[key]))}}</span>
                        </td>
                        <td></td>
                        <td><span class="h3">{{=overview_data[key][1]}} %</span></td>
                    </tr>
                    <tr class="collapse {{=str(key)}}collapsed">
                        <td><h3>Due Soon</h3></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{for due in overview_data[key][2]:}}
                        <tr class="collapse {{=str(key)}}collapsed">
                            <td>{{=due.name}}</td>
                            <td>{{="{:%b %d, %Y}".format(due.due_date)}}</td>
                            <td>{{=format(due.score, '.2f')}}</td>
                        </tr>
                    {{pass}}
                {{pass}}

            </table>
        </div>
    </div>
</div>

{{block page_js}}
<script src="{{=URL('static', 'js/sgt.js')}}"
<script>

 $('.{{=str(key)}}collapsed').on('shown.bs.collapse', function () {
     $("#{{=str(key)}}collapsed").removeClass("glyphicon-folder-close").addClass("glyphicon-folder-open");
 });

 $('.{{=str(key)}}collapsed').on('hidden.bs.collapse', function () {
     $("#{{=str(key)}}collapsed").removeClass("glyphicon-folder-open").addClass("glyphicon-folder-close");
 });

</script>

{{end}}
