{{extend 'layout.html'}}

<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{=name}}</h1>
        </div>
    </div>

    {{for key in overview_data.keys():}}
    <div class="row">
        <div class="col-sm-8">
            <blockquote class="blockquote blockquote-{{=get_contextual_classes(float(overview_data[key][1]))}}">
                <!-- Folder icon button. Activates toggle -->
                <button class="btn btn-xs btn-{{=get_contextual_classes(float(overview_data[key][1]))}}"
                        data-toggle="collapse" data-target=".{{=str(key)}}collapsed">
                    <span class="glyphicon glyphicon-small glyphicon-folder-close"
                          id ="{{=str(key)}}collapsed"></span>
                </button>

                <!-- Class name - currently a link. -->
                {{=overview_data[key][0]}} — Grade: {{=overview_data[key][1]}}%

                <button id="class-details-{{=key}}" type="button"
                        class="btn btn-primary btn-xs pull-right"
                        onclick="window.location.href='{{=URL('students', 'index', args=[key])}}'">
                    Class Details
                </button>
            </blockquote>

            <div class="collapse {{=str(key)}}collapsed">
                <h3>Due Soon</h3>
                
                <table class="table">
                    {{for due in overview_data[key][2]:}}
                    <tr class="collapse {{=str(key)}}collapsed">
                        <td>{{=due.name}}</td>
                        <td>{{="{:%b %d, %Y}".format(due.due_date)}}</td>
                        <td>{{=format(due.score, '.2f')}}</td>
                    </tr>
                    {{pass}}
                </table>

            </div>
        </div>
    </div>
    {{pass}}
</div>

{{block page_js}}
<script src="{{=URL('static', 'js/sgt.js')}}"
<script>

 $('.{{=str(key)}}collapsed').on('shown.bs.collapse', function () {
     $("#{{=str(key)}}collapsed").removeClass("glyphicon-folder-close").addClass("glyphicon-folder-open");
 });

 $('.{{=str(key)}}collapsed').on('hidden.bs.collapse', function () {
     $("#{{=str(key)}}collapsed").removeClass("glyphicon-folder-open").addClass("glyphicon-folder-close");
 });

</script>

{{end}}
