{{extend 'layout.html'}}

<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-12">
            <h1>{{=parent_name}} Student Overview</h1>
        </div>
    </div>

    {{j = 0}}

    {{for student in full_dict.keys():}}
        {{class_dict = full_dict[student][1]}}
        {{i = 0}}
        {{total_average = 0}}

        {{for key in class_dict.keys():}}
            {{temp_average = float(class_dict[key][0])}}
            {{total_average = total_average + temp_average}}
            {{i = i + 1}}
        {{pass}}

        {{total_average = total_average/i}}

        <div class="row">
            <div class="col-sm-12">
                <!-- Student Name -->
                <h3>{{=str(full_dict[student][0])}}</h3>

                {{for class_key in class_dict.keys():}}
                <div class="row">
                    <div class="col-sm-8">
                        <blockquote class="blockquote blockquote-{{=get_contextual_classes(float(class_dict[class_key][0]))}}">
                            <!-- Folder icon button. Activates toggle -->
                            <button class="btn btn-xs btn-{{=get_contextual_classes(float(class_dict[class_key][0]))}}"
                                    data-toggle="collapse" data-target=".{{=j}}">
                                <span class="glyphicon glyphicon-small glyphicon-folder-close"
                                      id ="{{=j}}" ></span>
                            </button>

                            {{=class_key}} — {{=class_dict[class_key][0]}}%

                            <button id="class-{{=j}}" type="button"
                                    class="btn btn-primary btn-xs pull-right"
                                    onclick="window.location.href='{{=URL('parents', 'index', args=[class_dict[class_key][2], student])}}'">
                                Class Details
                            </button>
                        </blockquote>

                        {{standards = class_dict[class_key][1]}}
                        {{z = 0}}
                        {{key_list = []}}

                        {{for standard in standards:}}
                            {{z = z + 1}}
                            {{key_list.append(standard)}}
                        {{pass}}

                        {{key_list.sort()}}
                        {{x = 0}}

                        <div class="collapse {{=j}}">
                            <h4>Performance by standard</h4>

                            <table class="table">
                                <tbody>
                                    {{for standard in key_list:}}
                                    <tr>
                                        <td>
                                            {{=str(standards[standard][2])}} {{=str(standards[standard][3])}}
                                        </td>
                                        <td class="text-right">
                                            {{=format((standards[standard][1]/standards[standard][0] * 100), '.2f')}}%
                                        </td>
                                    </tr>
                                    {{pass}}
                                </tbody>
                            </table>
                        </div>    

                        {{j = j + 1}}
                    </div>
                </div>
                {{pass}}
            </div>
        </div>
    {{pass}}
</div>

{{block page_js}}
<script src="{{=URL('static', 'js/sgt.js')}}"></script>
<script>

 <!--code below handles opening the folder icon -->
 $('.{{=j}}').on('shown.bs.collapse', function () {
     $("#{{=j}}").removeClass("glyphicon-folder-close").addClass("glyphicon-folder-open");
 });

 <!--code below handles closing the folder icon -->
 $('.{{=j}}').on('hidden.bs.collapse', function () {
     $("#{{=j}}").removeClass("glyphicon-folder-open").addClass("glyphicon-folder-close");
 });

</script>
{{end}}
