{{extend 'layout.html'}}

<h1>{{=auth.user.first_name}} {{=auth.user.last_name}}'s classes</h1>

<!-- The number of rows in ``class_assignments`` is the number of assignments.  -->
<h6>Found {{=len(class_assignments)}} grades.</h6>

<!-- This allows us to show multiple classes on one page. -->
{{for class_ in class_list:}}
<div class="row">
  <div class="col-md-12">
    <h2>{{=A(class_.classes.name, _href=URL('classes', 'index', args=[class_.classes.id]))}}</h2>
    <h3>{{=A(class_.contentarea.name, _href=URL('contentarea', 'index', args=[class_.contentarea.id]))}}</h3>

    <h4>{{=A(T('Add assignment'), _href=URL('grades', 'create', args=[class_.contentarea.id]))}}</h4>

    <table class="table">
      <tr>
        <th>Student Name</th>
        {{for a in class_assignments:}}
        <th>{{=a.name}}</th>
        {{pass}}
      </tr>
      {{for student in class_roster:}}
      <tr>
        <td>
          <a href="{{=URL('students', 'index', args=[student.student.id])}}">
            {{=student.auth_user.first_name}} {{=student.auth_user.last_name}}
          </a>
        </td>
        <!-- Get the list of grades associated with ``student`` via lookup 
             in the ``assignments`` dictionary. Then loop over the list and
             create a column for each grade.

             This needs some sort of error detection/handling.
          -->
        {{for grade in assignments[student.student.id]:}}
        <td>{{=grade}}</td>
        {{pass}}
      </tr>
      {{pass}}
    </table>

  </div>
</div>
{{pass}}
