{{extend 'layout.html'}}
<h1>Create a Grade</h1>

{{=form.custom.begin}}

<div class="row">
    <div class="col-sm-10">
        <div class="container-fluid well">

            <div class="row">
                <div class="col-sm-12">
                    <h4>Name</h4>
                    {{=form.custom.widget.name}}
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <h4>Display Date</h4>
                    {{=form.custom.widget.display_date}}
                </div>

                <div class="col-sm-4">
                    <h4>Date Assigned</h4>
                    {{=form.custom.widget.date_assigned}}
                </div>


                <div class="col-sm-4">
                    <h4>Date Due</h4>
                    {{=form.custom.widget.due_date}}
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h4>Score</h4>
                    {{=form.custom.widget.score}}
                </div>
                <div class="col-sm-4">
                    <h4>Grade Type</h4>
                    {{=form.custom.widget.grade_type}}
                </div>

                <div class="col-sm-4">
                    <h4>Standards</h4>
                    {{=standards}}
                </div>
            </div>

            <div class="row">
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <h4>&nbsp;</h4>
                    {{=form.custom.submit}}
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{{=form.custom.end}}
