{{extend 'layout.html'}}

<div class="container-fluid well">
    <div class="row">
        <div class="col-sm-12 form-group">
            <h1>Edit a Grade</h1>

            {{=form.custom.begin}}

            <div class="row">
                <div class="col-sm-12">
                    <label for="grade_name">Name</label>
                    {{=form.custom.widget.name}}
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <label for="grade_display_date">Display Date</label>
                    {{=form.custom.widget.display_date}}
                </div>

                <div class="col-sm-4">
                    <label for="grade_date_assigned">Date Assigned</label>
                    {{=form.custom.widget.date_assigned}}
                </div>


                <div class="col-sm-4">
                    <label for="grade_due_date">Date Due</label>
                    {{=form.custom.widget.due_date}}
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label for="grade_score">Score</label>
                    {{=form.custom.widget.score}}
                </div>

                <div class="col-sm-4">
                    <label for="grade_grade_type">Grade Type</label>
                    {{=form.custom.widget.grade_type}}
                </div>

                <div class="col-sm-4">
                    <label for="standards">Standards</label>
                    {{=standards}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    {{=form.custom.submit}}
                    <button id="cancel" class="btn btn-primary">Cancel</button>
                </div>
            </div>

            {{=form.custom.end}}
        </div>
    </div>
</div>

{{block page_js}}
<script src="{{=URL('static', 'js/sgt.js')}}"></script>

<script>
 $(document).ready(function() {
     $(":button#cancel").click(function() {
         window.location.href="{{=URL('classes', 'index', args = [class_id])}}";
         return false;
     });
 });
</script>

{{end}}
