{{extend 'layout.html'}}
<h1>Current Assignments</h1>
<table class="table">
    <tr>
        <td>Assignment Name </td>
        <td>Date Assigned   </td>
        <td>Due Date        </td>
        <td>Grade Type      </td>
        <td>Total Score     </td>
        <td>Pass/Fail       </td>
    </tr>
    <tr>
        {{for row in grid:}}
        <td>{{=A(row.name, _href=URL('grades','query',vars=dict(gname=row.id)))}}</td>
        <td>{{=row.date_assigned}}</td>
        <td>{{=row.due_date}}</td>
        <td>{{=row.grade_type}}</td>
        <td>{{=row.score}}</td>
        <td>{{=row.isPassFail}}</td>
    </tr>
    {{pass}}
</table>
