{{extend 'layout.html'}}
<h1>Current Students</h1>
<table style="width:90%">
    <tr>
        <td><h2>Grade ID</h2></td>
        <td><h2>Assignment Name  </h2></td>
        <td><h2>Display Date  </h2></td>
        <td><h2>Date Assigned  </h2></td>
        <td><h2>Due Date  </h2></td>
        <td><h2>Grade Type   </h2></td>
        <td><h2>Score   </h2></td>
        <td><h2>isPassFail   </h2></td>
    </tr>
    <tr>
        {{for row in grid:}}
        <td><h5>{{=row.id}}</h5></td>
        <td><h5><b>{{=A(row.name, _href=URL('grades','query',vars=dict(gname=row.id)))}}</b></h5></td>
        <td><h5>{{=row.display_date}}</h5></td>
        <td><h5>{{=row.date_assigned}}</h5></td>
        <td><h5>{{=row.due_date}}</h5></td>
        <td><h5>{{=row.grade_type}}</h5></td>
        <td><h5>{{=row.score}}</h5></td>
        <td><h5>{{=row.isPassFail}}</h5></td>
    </tr>
    {{pass}}
</table>
