{{extend 'layout.html'}}

<h1>{{=date_header}} Attendance</h1>

<div class="row">
    <div class="col-sm-2">
        <select id="attendance_month" class="generic-widget form-control">
            {{for month in menu_months:}}
            <option value="{{=month}}"
                    {{if month == date_header:}}selected{{pass}}>{{=month}}</option>
            {{pass}}
        </select>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Student</th>
                    {{for date in sorted(class_days.keys()):}}
                    <th>{{=date.day}}<br>{{=class_days[date][0]}}</th>
                    {{pass}}
                </tr>
            </thead>

            <tbody>
                {{ordered_class_day_list = sorted(class_days.keys())}}

                {{for student in sorted(class_list.keys()):}}
                {{student_id = class_list[student]}}
                <tr>

                    <td>
                        {{=student}}
                    </td>

                    {{for class_day in ordered_class_day_list:}}
                    {{attendance_record_id, student_present = attendance[student_id][class_day]}}
                    <td>
                        <input type="checkbox" class="attendance-checkbox"
                               id="{{=attendance_record_id}},{{=class_day}},{{=student_id}},{{=class_id}}"
                               {{ if student_present:}}
                               checked="checked"
                               {{pass}}
                        />
                    </td>
                    {{pass}}

                </tr>
                {{pass}}
            </tbody>

        </table>
    </div>
</div>

{{block page_js}}

<script>
 $(document).ready(function() {
     $(".attendance-checkbox").change(function() {
         var checkbox = this;
         var id_bits = checkbox.id.split(",");
         var new_attendance_data = {
             attendance_id: id_bits[0],
             class_day: id_bits[1],
             student_id: id_bits[2],
             class_id: id_bits[3],
             present: this.checked
         };

         $.ajax({
             url: "{{=URL('attendance', 'save_attendance_info')}}",
             dataType: "json",
             type: "POST",
             data: {"data": new_attendance_data},
             success: function(data) {
                 var new_id = data['new_id'];
                 if(new_id != null) {
                     id_bits[0] = new_id;
                     checkbox.id = id_bits.join(',')
                 }
             },
             error: function(jqxhr, status, error) {
                 alert("Status: " + status + "\nError: " + error);
             }
         });
     });
 });
</script>

{{end}}
