{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Detail Notifications</h1>
            <table id='student_list_table' class="table table-striped table-condensed">
                <tr>
                    <td><h3><b>Student Name</b></h3></td>
                    <td><h3><b>School ID</b></h3></td>
                    <td><h3><b>Date</b></h3></td>
                    <td><h3><b>Warning</b></h3></td>
                </tr>
                {{for row in notifi_query:}}
                    <tr>
                        <td>{{=row.auth_user.first_name}} {{=row.auth_user.last_name}}</td>
                        <td>{{=row.student.school_id_number}}</td>
                        <td>{{=row.notifications.date}}</td>
                        <td>{{=row.notifications.warning_text}}</td>
                    </tr>
                {{pass}}
            </table>
        </div>
    </div>
</div>
