{{extend 'layout.html'}}

{{block head}}
<!-- Anything in this block will be added
     to the html head section of the page. -->
<link rel="stylesheet" media="screen" href="{{=URL('static', 'js/dist/handsontable.full.css')}}">
{{end}}

<div class="row">
    <div class="col-sm-12">
        <h1 class="class-name">{{=class_name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row options-row">
                <div class="col-sm-12">
                    Filter by stanadard: 
                    <select id="standards-menu">
                        <option value="-1">All</option>
                        {{for standard in standards:}}
                        <option value="{{=standard.id}}">{{=standard.reference_number}}</option>
                        {{pass}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="student_grades" class="dataTable hot-scrollable"></div>
                </div>
            </div>
        </form>
    </div>
</div>

{{block page_js}}

<script src="{{=URL('static', 'js/dist/handsontable.full.js')}}"></script>
<script type="text/javascript">

 // Data binding as a reference.
 // When you change the data, you can update the view by rendering it.
 // http://docs.handsontable.com/0.20.0/tutorial-data-binding.html

 $().ready(function() {
     $("#student_grades").handsontable({
         minSpareRows: 0,
         fixedColumnsLeft: 1,
         colWidths: 150,
         colHeaders: get_column_headers(),
         rowHeaders: false,
         contextMenu: true,
         columns: [
             {{for i in range(1, len(assignments[0]), 2):}}
             {data: {{=i}}},
             {{pass}}
         ],
         afterChange: function(change, source) {
             if(source === "loadData") {
                 return;
             }
             $.ajax({
                 url: "{{=URL('classes', 'save_student_grades', args=[class_id])}}",
                 dataType: "json",
                 type: "POST",
                 data: {"data": $("#student_grades").handsontable('getData')},
                 success: function(data) {
                 },
                 error: function(data) {
                 }
             });
         }
     });
     
     
     $("select#standards-menu").change(function() {
         load_data({{=class_id}}, $(this).val());
     });

     function get_column_headers() {
         ////////////////////////////////////////////////////////////
         // Refactor this into a function.
         var url = "{{=URL('classes', 'assignment_info')}}/" + {{=class_id}} + "/";

         if ($("select#standards-menu option:selected").val() !== "-1") {
             url += $("select#standards-menu option:selected").val();
         }
         ////////////////////////////////////////////////////////////

         $.ajax({
             url: url,
             dataType: "json",
             type: "GET",
             success: function(data) {
                 var header = [];
                 for(var i = 0; i < data.length; i++) {
                     header[i] = data[i].name + "<br>Pts: " + data[i].score + "<br>Due: " + data[i].due_date;
                 }
                 $("#student_grades").handsontable.colHeaders = header;
             },
             error: function(jqxhr, status, error) {
                 alert("Status: " + status + "\nError: " + error);
             }
         });
         /* "Student",
            {{#for i in range(len(class_assignments)):}}
            {{#due_date = class_assignments[i].due_date}}
            {{#due_date = due_date != None and due_date.strftime('%Y-%m-%d') or 'TBD'}}
            "{{#=XML('%s<br>Pts: %0.f<br>Due: %s' % (class_assignments[i].name, class_assignments[i].score, due_date))}}",
            {{#pass}} */
     }

     function load_data(class_id, standard_id) {
         var url = "{{=URL('classes', 'student_grades')}}/" + class_id + "/";

         if (standard_id !== "-1") {
             url += standard_id;
         }

         $.ajax({
             url: url,
             dataType: "json",
             type: "GET",
             success: function(data) {
                 $("#student_grades").handsontable("loadData", data);
             },
             error: function(jqxhr, status, error) {
                 alert("Status: " + status + "\nError: " + error);
             }
         });
     }

     /* load_data({{=class_id}}, $("select#standards-menu option:selected").val()); */
     /* load_data({{=class_id}}, standard_selection); */
     load_data({{=class_id}}, $("select#standards-menu option:selected").val());
 });
</script>

{{end}}
