{{extend 'layout.html'}}

{{block head}}
<!-- Anything in this block will be added
     to the html head section of the page. -->
<link rel="stylesheet" media="screen" href="{{=URL('static', 'js/dist/handsontable.full.css')}}">
{{end}}

<div class="row">
    <div class="col-sm-12">
        <h1>{{=class_name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="row">
                <div class="col-sm-12">
                    <select>
                        {{for standard in standards:}}
                        <option>{{=standard.short_name}}</option>
                        {{pass}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="student_grades" class="dataTable"></div>
                </div>
            </div>
        </form>
    </div>
</div>

{{block page_js}}

<script src="{{=URL('static', 'js/dist/handsontable.full.js')}}"></script>
<script type="text/javascript">

 $(document).ready(function() {
     var first_load = true;
     $("#student_grades").handsontable({
         minSpareRows: 0,
         colHeaders: [
             "Student",
             {{for i in range(len(class_assignments)):}}
             "{{=class_assignments[i].name}}",
             {{pass}}
         ],
         rowHeaders: false,
         contextMenu: true,
         columns: [
             {{for i in range(1, len(assignments[0])):}}
             {data: {{=i}}},
             {{pass}}
         ],
         onChange: function(change) {
             if(first_load) {
                 first_load = false;
                 return;
             }
             $.ajax({
                 url: "{{=URL('classes', 'student_grades', extension='json', args=[3])}}",
                 dataType: "json",
                 type: "POST",
                 data: {"data": $("#student_grades").handsontable('getData')},
                 success: function(data) {
                     // Pop up an alert.
                 },
                 error: function(data) {
                     // Pop up an alert.
                 }
             });
         }
     });
 
     $.ajax({
         url: "{{=URL('student_grades', extension='json', args=[3])}}",
         dataType: "json",
         type: "GET",
         success: function(res) {
             $("#student_grades").handsontable("loadData", res.data);
             alert("loaded");
         },
         error: function(jqxhr, status, error) {
             alert("{{=URL('student_grades', extension='json', args=[3])}}");
         }
     });

});

</script>

{{end}}
