{{extend 'layout.html'}}


<div class="container">
    <div class="row"> <!-- class average -->
        <div class="col-md-12">
            <h1>{{=A(class_name, _href=URL('classes', 'index', args=[class_id]))}}</h1>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="col-md-6" align="center">
      <!--  <div class="col-md-4" align="center">{{=LOAD('charts', 'class_overview_pie.load', args=2)}}</div>  -->
        <div class="row">{{=LOAD('charts', 'class_overview_percent_range_pie.load', args=class_id)}}</div>
      <!--  <div class="col-md-4" align="center">{{=LOAD('charts', 'class_overview_assignment_range_pie.load', args=2)}}</div> -->
    </div>

    <div class="col-md-6" align="center"> <!-- average  breakdown -->
        <div class="row"><h3>Class Average: &nbsp{{=average}} %</h3></div>
        <div class="row"><h3>Total Students: &nbsp{{=total_students}}</h3></div>
        <div class="row"><h3>Total Assignments: &nbsp{{=total_grades}}</h3></div>
    </div>

</div>
<br>
<br>

<div class="container">


    <div class="row"> <!-- tables (standards performance and assignments due soon) -->

        <div class="col-md-6"> <!-- standards performance -->
            <h2>Standards</h2>
            <table class="table">
                {{for row in standard_dict:}}
                <tr class="{{=get_contextual_classes(standard_dict[row][1]/standard_dict[row][0]*100)}}">
                    <td>{{=standard_dict[row][2]}}</td>
                    <td>{{=standard_dict[row][3]}}</td>
                    <td>{{=format(standard_dict[row][1]/standard_dict[row][0]*100,'.2f')}} %</td>
                </tr>
                {{pass}}
            </table>
        </div>

        <div class="col-md-6"> <!-- due soon -->
            <h2>Due Soon</h2>
            <table class="table">
                {{if (due_soon_amount != 0):}}
                {{for row in due_soon:}}
                <tr>
                    <td>{{=row.name}}</td>
                    <td>{{=row.due_date.strftime(DISPLAY_DATE_FORMAT)}}</td>
                </tr>
                {{pass}}
                {{else:}}
                <tr>
                    <td>NO UPCOMING ASSIGNMENTS</td>
                    <td></td>
                </tr>
                {{pass}}
            </table>
        </div>

    </div>
    <!-- charts -->
    {{=LOAD('charts', 'class_overview_standard_bar.load', args=class_id)}}

</div>
